<%- include("templates/header.template.ejs", {titulo: "Titulo " }) %>
    <%- include("templates/nav.template.ejs") %>
        <br>
        <br>
        <div class="container bg-light mt-10 mb-10" style=" width: 95%;
                                                            display: flex;
                                                            justify-content: center;
                                                            height: 95%;
                                                            min-height: 400px;
                                                            border-radius: 5px;
                                                            margin-top: 0;">
            <div class="container mt-10" style="position: relative; ">
                <div class="mb-3">
                    <h1 style="text-align: center; font-family: 'Poppins 700', sans-serif;">Gráficas</h1>
                    <h1>  </h1>
                </div>
                <canvas id="myChart"></canvas>
                <script>
                    console.log({ datos })
                    // Obtén el contexto del lienzo
                    var ctx = document.getElementById('myChart').getContext('2d');
                    // Datos para el gráfico
                    var datos = JSON.parse('<%- JSON.stringify(datos) %>');
                    var fechas = JSON.parse('<%- JSON.stringify(fechas) %>');
                    var data = {
                        labels: fechas,

                        datasets: [{
                            label: 'Temperatura Ambiente',
                            data: datos,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)', // Color de fondo de las barras
                            borderColor: 'rgba(75, 192, 192, 1)', // Color del borde de las barras
                            borderWidth: 1 // Ancho del borde de las barras
                        }]
                    };

                    // Configuración del gráfico
                    var options = {
                        responsive: true,
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    };

                    // Crea el gráfico de barras
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: data,
                        options: options
                    });
                </script>
                <canvas id="myChart2"></canvas>
                <script>
                    console.log({ datos })
                    // Obtén el contexto del lienzo
                    var ctx = document.getElementById('myChart2').getContext('2d');
                    // Datos para el gráfico
                    var humedadAmbiente = JSON.parse('<%- JSON.stringify(humedadAmbiente) %>');
                    var fechas = JSON.parse('<%- JSON.stringify(fechas) %>');
                    var data = {
                        labels: fechas,

                        datasets: [{
                            label: 'Humedad Ambiente',
                            data: humedadAmbiente,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)', // Color de fondo de las barras
                            borderColor: 'rgba(75, 192, 192, 1)', // Color del borde de las barras
                            borderWidth: 1 // Ancho del borde de las barras
                        }]
                    };

                    // Configuración del gráfico
                    var options = {
                        responsive: true,
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    };

                    // Crea el gráfico de barras
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: data,
                        options: options
                    });
                </script>
            </div>

            <form id="redireccionForm" action="/grafica" method="GET">
                <input type="hidden" name="idEstudiante">
            </form>


        </div>
        <script>
            // Función para enviar el formulario después de 3 segundos
            setTimeout(() => {
                document.getElementById('redireccionForm').submit();
            }, 15000);
        </script>

        <%- include("templates/footer.template.ejs") %>